h1{
    color: white;
    background-color: black;
    font-family: sans-serif;
}

span{
    color:aqua;
}

p{
    color: white;
    background-color: rebeccapurple;
    text-align: center;
    font-style: italic;
    font-size: large;
    font-family: sans-serif;
}

.contact{
    text-align: right;
    color: black;
    background-color: aqua;
    text-decoration: underline;
}